<a href="https://colab.research.google.com/github/yfhkucing/experiment_bms/blob/master/excel_reshape.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
feature = pd.read_excel('/content/Koordinat dan Input Skenario.xlsx',sheet_name='InputSkenario')
feature.pop('Fan')
feature.pop('Jam')
label_30 = pd.read_excel('/content/data_big_4.xlsx',sheet_name='Sheet2')
koordinat_30 = df_koor = pd.read_excel('koordinat_30.xlsx',sheet_name='Sheet2',header=None,names=['koor_x','koor_y'])
label_154 = pd.read_excel('/content/data_big.xlsx',sheet_name='Sheet3')
koordinat_154 = label_154.drop(['koor_z','Vx','Vy','Vz','Temp','source','Jendela','AC','sudut angin','Nilai Kecepatan Angin','Dry Bulb Temperature'],axis=1)
koordinat_154 = koordinat_154[0:154]
label_154 = label_154.drop(['koor_z','Vz','source','Jendela','AC','sudut angin','Nilai Kecepatan Angin','Dry Bulb Temperature'],axis=1)

In [ ]:
feature.head()

,Jendela,AC,Arah Sudut Kecepatan Angin derajat,Nilai Kecepatan Angin,Dry Bulb Temperature,Fan/i1,Fan/i2,Fan/i3,Fan/i4,Fan/i5,Fan/i6,Fan/o1,Fan/o2,Fan/o3,Fan/o4,Fan/o5,Fan/o6
0,0,0,171,0.5,27.0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,153,0.4,31.5,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,47,4.8,33.1,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,62,4.1,27.4,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,341,3.8,30.6,0,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
label_30

      koor_x  koor_y        Vx        Vy       Temp
0          1      30  0.002399 -0.073255  27.417225
1          1      63  0.002269 -0.075449  27.366829
2          1      94  0.002446 -0.076216  27.273479
3          1     113  0.002551 -0.073114  27.065680
4          1     145  0.002307 -0.072831  26.763813
...      ...     ...       ...       ...        ...
5755     104      68  0.032203  0.101951  26.107449
5756     104     102  0.095899  0.079573  25.759459
5757     104     125  0.055757  0.087645  25.356976
5758     104     161  0.044939  0.072076  24.928185
5759     104     202  0.071227  0.084600  24.976072

[5760 rows x 5 columns]

In [ ]:
label_154

       koor_x  koor_y        Vx        Vy       Temp
0           1       6  0.003601 -0.061728  27.235806
1           1      16  0.003154 -0.069276  27.362558
2           1      30  0.002399 -0.073255  27.417225
3           1      45  0.002273 -0.074632  27.410238
4           1      63  0.002269 -0.075449  27.366829
...       ...     ...       ...       ...        ...
29563     104     144  0.041049  0.058527  25.032204
29564     104     161  0.044939  0.072076  24.928185
29565     104     184  0.044409  0.093551  24.923243
29566     104     202  0.071227  0.084600  24.976072
29567     104     215  0.088190  0.064621  24.897440

[29568 rows x 5 columns]

In [ ]:
koordinat_30

    koor_x  koor_y
0        1      30
1        1      63
2        1      94
3        1     113
4        1     145
5        1     178
6       20      63
7       20      94
8       20     113
9       20     145
10      20     178
11      30       6
12      49      30
13      49      63
14      49      94
15      49     113
16      49     145
17      49     178
18      79      63
19      79      94
20      79     113
21      79     145
22      79     178
23      87       6
24      97      30
25      97      63
26      97      94
27      97     113
28      97     145
29      97     178

In [ ]:
koordinat_154

     koor_x  koor_y
0         1       6
1         1      16
2         1      30
3         1      45
4         1      63
..      ...     ...
149      97     129
150      97     145
151      97     163
152      97     178
153      97     191

[154 rows x 2 columns]

In [ ]:
writer = pd.ExcelWriter('data_model.xlsx')

# Write each dataframe to a different worksheet.
feature.to_excel(writer, sheet_name='feature',index=False)
label_30.to_excel(writer, sheet_name='label_30',index=False)
label_154.to_excel(writer, sheet_name='label_154',index=False)
koordinat_30.to_excel(writer, sheet_name='koordinat_30',index=False)
koordinat_154.to_excel(writer, sheet_name='koordinat_154',index=False)

# Close the Pandas Excel writer and output the Excel file.
writer.save()